* {
    margin: 0;
    padding: 0;
    /*background-color: ghostwhite;*/
}

/* Create three equal columns that float next to each other */
.dropdownColumns {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-content: center;
    width: 100%;
    padding: 10px;
    background-color: ghostwhite;
    height: 250px;
}

/* Style links inside the columns */
.column a {
    float: none;
    color: #333336;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a background color on hover */
.column a:hover {
    background-color: #343434;
    color: ghostwhite;
    border-radius: 4px;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #333336;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: block; /* Display the content block */
    position: absolute;
    background-color: ghostwhite;
    width: 100%;
    left: 0;
    max-height: 0; /* Initially hidden */
    overflow: hidden; /* Hide overflowing content */
    transition: max-height .36s ease-out; /* Smooth scroll effect */
    z-index: 3;
    overflow-y: scroll;
    scrollbar-color: black black;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.19);
}

/* Mega Menu header, if needed */
.dropdown-content .header {
    background: ghostwhite;
    padding: 16px;
    color: #333336;
}

/* Show the dropdown menu on hover with a scroll-in effect */
.dropdown:hover .dropdown-content {
    max-height: 60%; /* Adjust to the content's full height */
    height: fit-content;
    opacity: .925;
    z-index: 3;
}

.dropdownlistOptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.linkImg {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 200px;
    width: 100%;
    cursor: pointer;
}

.locationBar {
    margin: 30px 0;
}



.navbar {
    overflow: hidden;
    background-color: ghostwhite;
    font-family: Arial;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Links inside the navbar */
.navbar a {
    display: flex;
    justify-content: center;
    float: left;
    font-size: 16px;
    color: #333336;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.page-wrapper {
    margin: 0;
    padding: 0;
}

.pokelogo {
    border: 1px solid grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
    /*justify-content: center;*/
    /*align-items: left;*/
    margin: 0;
    padding: 0;
    border-radius: 30px;
    width: 100vw;
    gap: 50px;
}

.cardSingleJSON {
    flex: 1 1 18%;        /* Ensures each card takes up 20% of the row */
    max-width: 22%;       /* Restricts each card to a max of 20% width */
    height: 400px;
    box-sizing: border-box;
    margin-bottom: 40px;
    margin-right: 7px;
}

/*.divWithBackground {*/
/*    position: relative; !* To allow content positioning inside the div *!*/
/*    width: 100%; !* Or any width you need *!*/
/*    height: 100%; !* Or any height you need *!*/
/*    background-image: url('../media/logo/lorcanaLogos/loracna_evergreen_background.webp');*/
/*    background-size: cover; !* Ensures the image covers the entire div *!*/
/*    background-position: center; !* Centers the image within the div *!*/
/*    background-repeat: no-repeat; !* Prevents the image from repeating *!*/
/*}*/

/*.divContent {*/
/*    position: relative; !* Ensures content stays on top of the background *!*/
/*    z-index: 1; !* Makes sure the content is above the background *!*/
/*    padding: 20px; !* Optional: add padding to give space for content *!*/
/*}*/