* {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border-radius: 30px;
    width: 100vw;
}

img {
    margin: 0;
    padding: 0;
    border-radius: 50px;
}