
.div_FirstChapter_Background {
    position: relative; /* To allow content positioning inside the div */
    width: 100%; /* Or any width you need */
    height: 100%; /* Or any height you need */
    background-image: url('../media/logo/lorcanaLogos/loracna_evergreen_background.webp');
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.div_RiseOfTheFloodborn_Background {
    position: relative; /* To allow content positioning inside the div */
    width: 100%; /* Or any width you need */
    height: 100%; /* Or any height you need */
    background-image: url('../media/logo/lorcanaLogos/backgroundImage_RiseOfTheFloodborn.webp');
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.div_IntoTheInklands_Background {
    position: relative; /* To allow content positioning inside the div */
    width: 100%; /* Or any width you need */
    height: 100%; /* Or any height you need */
    background-image: url('../media/logo/lorcanaLogos/backgroundImage_IntoTheInklands.png');
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.divContent {
    position: relative; /* Ensures content stays on top of the background */
    z-index: 1; /* Makes sure the content is above the background */
    padding: 20px; /* Optional: add padding to give space for content */
}

.ink_amber_logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #f5b202;
}

.ink_amethyst_logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #81377b;
}

.ink_emerald_logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #2a8934;
}

.ink_ruby_logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #d3082f;
}

.ink_sapphire_logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #0189c4;
}

.ink_steel_logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #9fa8b4;
}

.enchanted_logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-image: linear-gradient(to bottom right, #d3082f 5%, #f5b202 35%, #2a8934 49%, #0189c4 65%, #81377b 95%);
    opacity: .74;
}

.ink_logo_img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 100px;
    float: left;
}

.cardImg {
    border-radius: 15px;
    width: 350px;
    height: 275px;
    /*max-width: 250px;*/
    cursor: initial;
}

.cardContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: 50px;
    margin-bottom: 60px;
}

.cardSingle {
    width: 130%;
}

.cardTitleGold {
    text-align: left;
    margin-left: 15px;
    color: black;
    padding-bottom: 10px;
}

.cardCenter {
    display: flex;
    flex-direction: row;
    width: 220px;
    margin-left: 5%;
}

.cardSelectors {
    display: flex;
    flex-direction: column;
    width: 60px;
    margin-left: 5px;
    writing-mode: vertical-lr;
}

.cardForm {
    width: 70px;
    accent-color: #2a8934;
}

.cardLabelText1 {
    margin-left: 18px;
}

.cardLabelText2 {
    margin-left: 20px;
}

.cardLabelTextEnchanted {
    margin-left: 5px;
}

.cardFormInput {
    transform: scaleX(1.35) scaleY(1.35);
    width: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    cursor: pointer;
}

.cardID {
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;
    color: black;
}
