/*.top-logo {*/
/*    display: flex;*/
/*    justify-self: center;*/
/*    margin: 10px;*/
/*    width: 99vw;*/
/*    max-height: 400px;*/
/*    border-radius: 0 0 60px 60px;*/
/*}*/

.ink_amber_logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #f5b202;
}

.ink_amethyst_logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #81377b;
}

.ink_emerald_logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #2a8934;
}

.ink_ruby_logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #d3082f;
}

.ink_sapphire_logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #0189c4;
}

.ink_steel_logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #9fa8b4;
}

.enchanted_logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-image: linear-gradient(to bottom right, #d3082f 5%, #f5b202 45%, #2a8934 52%, #0189c4 75%, #81377b 99%);
    opacity: .4;
}

.ink_logo_img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 100px;
}

img {
    border-radius: 15px;
    width: 70%;
    max-width: 150px;
    /*opacity: .4;*/
}

.cardContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    gap: 50px;
    margin-bottom: 60px;
}

.cardSingle {
    width: 130%;
    /*box-shadow: -25px 0 20px 0 rgba(0, 0, 0, 0.29);*/
    /*border-radius: 50px;*/
}

/*.cardSingle {*/
/*    width: 120%;*/
/*    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.29);*/
/*    border-radius: 58px;*/
/*}*/


.cardTitleGold {
    text-align: left;
    margin-left: 15px;
    color: black;
    padding-bottom: 10px;
}

.cardCenter {
    display: flex;
    flex-direction: row;
    width: 220px;
    margin-left: 5%;
}

.cardSelectors {
    display: flex;
    flex-direction: column;
    width: 60px;
    margin-left: 5px;
    writing-mode: vertical-lr;
}

.cardForm {
    width: 70px;
    accent-color: #2a8934;
}

.cardLabelText {
    margin-left: 18px;
}

.cardLabelTextEnchanted {
    margin-left: 5px;
}

.cardFormInput {
    transform: scaleX(1.35) scaleY(1.35);
    /*margin-left: 15px;*/
    width: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}

.cardID {
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;
    color: black;
}



/*.cardRadio, .card{*/
/*    display: none;*/
/*}*/

/*.cardRadio, .card {*/
/*    opacity: 0.4;*/
/*}*/

/*.cardRadio:checked, .card {*/
/*    opacity: 1.0;*/
/*}*/
