<h1>MasterTCG</h1>

<div *ngIf="loading">Loading sets...</div>
<div *ngIf="error">{{ error }}</div>

<ul *ngIf="!loading && !error">
  <li *ngFor="let s of sets">
    <strong
    (click)="loadCards(s)"
    style="cursor: pointer; color: blue; text-decoration: underline;">
      {{ s.name }}
    </strong> — {{ s.era }}
    <div>Main: {{ s.totalCardsMain }} | Master: {{ s.totalCardsMaster }}</div>
    <!-- <div style="font-size: 12px; opacity: 0.7;">{{ s.id }}</div> -->
  </li>
</ul>

<hr>

<section *ngIf="selectedSet">
  <h2>{{ selectedSet.name }} Cards</h2>

  <p>
    Owned: {{ getOwnedCount() }} / {{ getTotalVariantCount() }}
    ({{ getCompletionPercentage() }}%)
  </p>

  <div class="progress-container">
    <div class="progress-fill"
      [style.width.%]="getCompletionPercentage()"
      ></div>
  </div>

  <div class="stats-panel">
    <h3>{{ selectedSet.name }} Stats</h3>

    <div class="stats-grid">
      <div class="stat-card">
        <div class="stat-label">Total</div>
        <div class="stat-value">
          {{ getOwnedCount() }} / {{ getTotalVariantCount() }}
        </div>
      </div>

      <div class="stat-card">
        <div class="stat-label">Common</div>
        <div class="stat-value">
          {{ getOwnedVariantCountByRarity('COMMON') }} /
          {{ getTotalVariantCountByRarity('COMMON') }}
        </div>
      </div>

      <div class="stat-card">
        <div class="stat-label">Uncommon</div>
        <div class="stat-value">
          {{ getOwnedVariantCountByRarity('UNCOMMON') }} /
          {{ getTotalVariantCountByRarity('UNCOMMON') }}
        </div>
      </div>

      <div class="stat-card">
        <div class="stat-label">Rare</div>
        <div class="stat-value">
          {{ getOwnedVariantCountByRarity('RARE') }} /
          {{ getTotalVariantCountByRarity('RARE') }}
        </div>
      </div>

      <div class="stat-card">
        <div class="stat-label">Normal</div>
        <div class="stat-value">
          {{ getOwnedVariantCountByFinish('NORMAL') }} /
          {{ getTotalVariantCountByFinish('NORMAL') }}
        </div>
      </div>

      <div class="stat-card">
        <div class="stat-label">Holo</div>
        <div class="stat-value">
          {{ getOwnedVariantCountByFinish('HOLO') }} /
          {{ getTotalVariantCountByFinish('HOLO') }}
        </div>
      </div>
    </div>
  </div>

  <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Search by card name or number"
    class="search-input"
  />

  <select [(ngModel)]="selectedRarity" class="filter-select">
    <option value="ALL">All rarities</option>
    <option value="COMMON">Common</option>
    <option value="UNCOMMON">Uncommon</option>
    <option value="RARE">Rare</option>
  </select>

  <select [(ngModel)]="selectedOwnership" class="filter-select">
    <option value="ALL">All Cards</option>
    <option value="OWNED">Owned</option>
    <option value="MISSING">Missing</option>
  </select>

  <select [(ngModel)]="selectedFinish" class="filter-select">
    <option value="ALL">All Finishes</option>
    <option value="NORMAL">Normal</option>
    <option value="HOLO">Holo</option>
    <option value="REVERSE_HOLO">Reverse Holo</option>
  </select>

   <div class="filter-summary" *ngIf="selectedSet">
  <ng-container *ngIf="selectedOwnership === 'ALL'">
    Showing {{ getVisibleCardCount() }} cards ·
    {{ getVisibleOwnedCount() }} / {{ getVisibleVariantCount() }} visible variants owned
  </ng-container>

  <ng-container *ngIf="selectedOwnership === 'OWNED'">
    Showing {{ getVisibleCardCount() }} cards ·
    {{ getVisibleVariantCount() }} owned variant
  </ng-container>

  <ng-container *ngIf="selectedOwnership === 'MISSING'">
    Showing {{ getVisibleCardCount() }} cards ·
    {{ getVisibleVariantCount() }} missing variant
  </ng-container>
  </div>

  <div class="mini-progress-container" *ngIf="selectedSet">
    <div
      class="mini-progress-fill"
      [style.width.%]="getFilterBarPercentage()">
    </div>
  </div>

  <ul>
    <li *ngFor="let c of getFilteredCards()" class="card">
      <img
        *ngIf="c.imageSmallUrl"
        [src]="c.imageSmallUrl"
        [alt]="c.name"
        class="card-image"
      >
      <div class="card-header">
        {{ c.cardNumber }} — {{ c.name }}
      </div>
      
      <div class="rarity-badge" [ngClass]="getRarityClass(c.rarity)">
          {{ getRarityLabel(c.rarity) }}
      </div>

      <div *ngIf="c.primaryType" class="type-chip" [ngClass]="getTypeClass(c.primaryType)">
        {{ c.primaryType }}
      </div>
          
      <div class="variant-list">
        <div *ngFor="let v of getVisibleVariants(c)" class="variant-row">
          <input
            type="checkbox"
            [checked]="isOwned(v.id)"
            (change)="toggleOwned(v.id)"
            />

          <span>{{ displayFinish(v.finish) }}</span>
        </div>
      </div>
    </li>
  </ul>


</section>