<h1>MasterTCG</h1>

<div *ngIf="loading">Loading sets...</div>
<div *ngIf="error">{{ error }}</div>

<ul *ngIf="!loading && !error">
  <li *ngFor="let s of sets">
    <strong
    (click)="loadCards(s)"
    style="cursor: pointer; color: blue; text-decoration: underline;">
      {{ s.name }}
    </strong> — {{ s.era }}
    <div>Main: {{ s.totalCardsMain }} | Master: {{ s.totalCardsMaster }}</div>
    <!-- <div style="font-size: 12px; opacity: 0.7;">{{ s.id }}</div> -->
  </li>
</ul>

<hr>

<section *ngIf="selectedSet">
  <h2>{{ selectedSet.name }} Cards</h2>

  <p>
    Owned: {{ getOwnedCount() }} / {{ getTotalVariantCount() }}
    ({{ getCompletionPercentage() }}%)
  </p>

  <ul>
    <li *ngFor="let c of cards">
      <strong>{{ c.cardNumber }}</strong>
      {{ c.name }}

      <div style="font-size: 0.9em; color: grey;">
        {{ c.rarity }}
      </div>

      <div *ngFor="let v of c.variants">
        <input
          type="checkbox"
          [checked]="isOwned(v.id)"
          (change)="toggleOwned(v.id)"
          />

      {{ displayFinish(v.finish) || 'Normal' }}

      </div>
    </li>
  </ul>


</section>